/.vscode
/a.exe
/condition.py
/condition_1.py
/datatype.py
/divya.html
/input.out.py
/loop.py
/loops.py
/Notes.md
/operator.py
/prc.py
/prc_01.py
/tempCodeRunnerFile.py
/test.py
/variables.py
/__pycache__